body { 
  margin: 0; 
  padding: 0; 
  background-color: black;
  color: lightseagreen;
  overflow: hidden;
  accent-color: #6000b3;
  color-scheme: dark;
  font-family: "Poppins", sans-serif;

  display: flex;
  flex-direction: column;
}

#map { 

  width: 100%; 
  flex-grow: 1;
  height: 90vh;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #202020;
}

/* Sidebar (legend) styles */
#legend {
  position: absolute;
  top: 0;
  left: 100%;
  height: 100%;
  width: 35%;
  font-family: "Poppins", sans-serif;
  font-size: medium;
  background: rgba(16, 16, 16, 0.95);
  box-shadow: 2px 0 5px rgba(0,0,0,0.2);
  overflow-y: auto;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  padding: 1rem;
}

#legend.open {
  transform: translateX(0);
}


#toggle-btn {
  position: absolute;
  top: 50vh;
  right: 10px;
  z-index: 10;
  background: rgba(32, 32, 32, 0.80);
  color: #fff;
  border: none;
  border-radius: 100px;
  padding: 8px 12px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  cursor: pointer;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px
}

@keyframes glowing {
  0% {
    background: rgba(32, 32, 32, 0.80);
  }
  50% {
    background: rgba(128, 128, 255, 0.8);
  }
  100% {
    background: rgba(32, 32, 32, 0.80);
  }
}

#toggle-btn {
  animation: glowing 400ms 3;
}

#toggle-btn:hover {
  background: #333;
}

.legend-title {
    font-size: 200%;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 1000;
    color: gray
}
.legend-brand-title {
    font-size: 400%;
    font-weight: 100;
    font-family: "Poppins", sans-serif;
    margin-bottom: 0;
    margin-top: 0;
}

/* Example legend items */
.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  margin-top: 5px;
}

.legend-color {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  border-radius: 3px;
}
.legend-color-min {
  width: 5px;
  height: 20px;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 3px;
}
/**
* Navbar Style Settings
*/


ul.topnav li {float: left;}
ul.topnav li.icon { display: none; }

ul.topnav li a {
  display: block;
  text-align: center;
  font-size: 4vh;
  padding: 2vh 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #6b0046;}

ul.topnav li .navbar-logo {
  font-size: 6px;
  padding: 0vh 16px;
  font-weight: 200;
}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li:not(:first-child) { display: none; }
  ul.topnav li.icon              { float: right; display: block; }

  ul.topnav.responsive { position: relative; }
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: block;
    text-align: left;
  }
}
  



@media screen and (max-width: 400px) {
  ul.sidenav li a {
    text-align: center;
    float: none;
  }
}
