

        /* #features {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 30%;
        overflow: auto;
        background: rgba(255, 255, 255, 0.8);
        } */

        

.maplibregl-popup {
    max-width: 250px;
    font-family: "Poppins", sans-serif;
    background-color: rgba(0, 0, 0, 0.8);
}
.maplibregl-popup-content {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    color: white;
    font-size: 14px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.telekom_span {
    color: #00FF00; /* Telekom magenta */
    font-weight: 600;
}

.vodafone_span {
    color: #FF0000; /* Vodafone red */
    font-weight: 600;
}

.telefonica_span {
    color: #0000FF; /* Telefonica blue */
    font-weight: 600;
}

.einsundeins_span {
    color: #3333FF;
    font-weight: 600;
}

.light_telekom_span {
    color: #67FF67; /* Telekom magenta */
    font-weight: 600;
}

.light_vodafone_span {
    color: #FF6767; /* Vodafone red */
    font-weight: 600;
}

.light_telefonica_span {
    color: #6767FF; /* Telefonica blue */
    font-weight: 600;
}

.light_einsundeins_span {
    color: #7676FF;
    font-weight: 600;
}

.einsundeins_notice {
    color: greenyellow
}

.tooltip-footer {
    color: lightslategray; /* Telefonica blue */
    font-weight: 500;
    font-size: 10px;
    text-align: end;
    display: inline-block;
}

.tooltip-summary {
  font-size: 12px;
  color: lightgray
}

.signalIcon{
  vertical-align: middle;
}

.maplibregl-ctrl {

  border-radius: 4px;
  box-shadow: 0 1px 4px rgb(0, 0, 0);
  margin: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: white;
  background-color: #000;

  fill: #000;
  stroke:rgba(0, 0, 0, 0.8);
  background:rgba(0, 0, 0, 0.8);

}

.maplibregl-ctrl button {
  background-color: rgba(255, 255, 255, 0.8) !important;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  margin: 2px;
  padding: 0;

}

.maplibregl-ctrl-attrib {
  background-color: #f0f0f0 !important; /* Light gray background */
  color: #333 !important; /* Dark gray text */
}

/* Change the link color inside the attribution */
.maplibregl-ctrl-attrib a {
  color: #0078d7 !important; /* Blue link color */
}

/* Change the link color on hover */
.maplibregl-ctrl-attrib a:hover {
  color: #005a9e !important; /* Darker blue on hover */
}



.maplibregl-ctrl-geolocate:hover {
  background-color: #555 !important; /* Example: darker orange on hover */}

.maplibregl-ctrl-geolocate .maplibregl-ctrl-icon {
  fill: white !important; /* Example: white icon */
}



.maplibregl-ctrl.maplibregl-ctrl-attrib {
	background-color: #111 !important;
  color: #ffffff !important;
}

.maplibre-search-box .results {
	background: #111 !important;
	border-radius: 5px;
	margin: 10px 0;
	width: 284px;
  color: lightseagreen;
}


.maplibre-search-box .search-attribution a,
.maplibre-search-box .search-attribution a:visited {
	color: aquamarine !important;
}

.maplibre-search-box .search-attribution {
	border-top: 1px dotted #ff00ff !important;
}

.maplibre-search-box .results .result {
	border-bottom: 1px dashed skyblue !important;
}

#receptionBubble {
  position: absolute;
  pointer-events: none; /* don't block mouse */
  background: rgba(0,0,0,0.7);
  color: #fff;
  font-size: 12px;
  padding: 4px 6px;
  border-radius: 4px;
  transform: translateY(10px); /* hover below cursor */
  white-space: nowrap;
}